$--tw-transparent: transparent;
$--tw-black: #000;
$--tw-primary-light: #728afd;
$--tw-primary-lighter: #dee2ff;
$--tw-primary-dark: #2b48d1;
$--tw-accent-dark: #303e4f;
$--tw-primary-darker: #0e276b;
$--tw-secondary-light: #f3f5fd;
$--tw-secondary-dark: #10236d;
$--tw-accent-light: #656e7a;
$--tw-grey: #a0a4b7;
$--tw-white: #fff;
$--tw-grey-white-est: #fafbfc;
$--tw-grey-lighter: #e7e9f0;
$--tw-grey-light: #cccfdb;
$--tw-grey-blue-light: #d1d8dc;
$--tw-grey-darker: #5d606f;
$--tw-pink: #f35c90;
$--tw-grey-dark: #7c8196;
$--tw-headings: #262626;
$--tw-danger: #f56c6c;
$--tw-info: #909399;
$--tw-primary: #5072ff;
$--tw-warning: #e6a23c;
$--tw-green: #0ca678;
$--tw-green-darker: #087f5b;
$--tw-hover-background: #f4f6fc;
$--tw-red: #f03e3e;
$--tw-red-darker: #c92a2a;
$--tw-selected-background: #eef1ff;
$--tw-error-background: #fff3ef;
$--tw-error-text: #bb200c;
$--tw-body-font: #525662;
$--tw-bg-accent-color: #f3f5fd;
$--tw-disabled-color: #e7e9f0;
$--tw-shadow-color: rgba(28, 24, 7, 0.15);
$--tw-skeleton-color: #efefef;
$--tw-camp-details-standards-color: #626262;
$--tw-light-bg-color: #f3f5ff;
$--tw-grey-white-ter: #f4f6fc;
$--tw-node-color: #cccfdb;
$--tw-jb-ink: #262626;
$--tw-jb-cerulean: #284ec2;
$--tw-grey-hover: #f9f9fc;
$--tw-jb-cornflower: #a0c9ec;
$--tw-jb-zircon: #f3f5ff;
$--tw-jb-blue-charcoal: #001021;
$--tw-jb-deep-saffron: #f93;
$--tw-jb-amber: #ffc000;
$--tw-jb-success: #27d061;
$--tw-jb-warning: #f0bf19;
$--tw-jb-grey-50: #edeff1;
$--tw-jb-danger: #e31717;
$--tw-jb-grey-100: #cfd8dc;
$--tw-jb-grey-200: #b0bec5;
$--tw-jb-grey-300: #90a4ae;
$--tw-jb-grey-500: #607d8b;
$--tw-jb-grey-400: #78909c;
$--tw-jb-grey-600: #546e7a;
$--tw-jb-grey-800: #37474f;
$--tw-jb-grey-700: #455a64;
$--tw-jb-grey-900: #263238;
$--tw-success: #5072ff;
$--tw-jb-purple: #9d67e4;
$--tw-jb-purple-light: #e0cbff;
$--tw-jb-purple-lighter: #f5ecff;
$--tw-jb-purple-darker: #300274;
$--tw-jb-purple-dark: #572b97;
$--tw-jb-indigo-lighter: #f2f3ff;
$--tw-jb-indigo: #3f51b5;
$--tw-jb-indigo-light: #aab6fe;
$--tw-jb-indigo-dark: #303f9f;
$--tw-jb-indigo-darker: #002984;
$--tw-jb-blue-lighter: #eaf8ff;
$--tw-jb-blue: #037acc;
$--tw-jb-blue-light: #bae5ff;
$--tw-jb-blue-darker: #033056;
$--tw-jb-blue-dark: #074b85;
$--tw-jb-teal: #41c6c3;
$--tw-jb-teal-lighter: #e1fdfd;
$--tw-jb-teal-dark: #01848e;
$--tw-jb-teal-light: #b1efef;
$--tw-jb-green: #4eb53a;
$--tw-jb-teal-darker: #014a50;
$--tw-jb-green-lighter: #e3f7dd;
$--tw-jb-green-light: #bbeab2;
$--tw-jb-green-dark: #107c41;
$--tw-jb-green-darker: #024b23;
$--tw-jb-yellow: #f9cb04;
$--tw-jb-yellow-lighter: #fff2c7;
$--tw-node-line-color: #dcdfe8;
$--tw-jb-yellow-darker: #5f4d00;
$--tw-current: currentcolor;
$--tw-jb-orange-light: #fcebdb;
$--tw-jb-orange-lighter: #fcebdb;
$--tw-jb-orange-dark: #b0661c;
$--tw-jb-yellow-dark: #a98d14;
$--tw-jb-yellow-light: #ffe984;
$--tw-jb-grey: #607d8b;
$--tw-jb-red-lighter: #fff3ef;
$--tw-jb-red-dark: #b71c1c;
$--tw-jb-red-darker: #620d02;
$--tw-jb-orange-darker: #663401;
$--tw-jb-orange: #fb8e21;
$--tw-jb-red-light: #ffcdd2;
$--tw-jb-red: #d50000;
