@import "common/var";
@import "../theme-chalk/src/button.scss";

@include b(button) {
  cursor: auto;
  text-align: center;
  height: $--button-jb-height;
  width: 100%;
  margin: 20px 0;
  transition: all 0.3s ease;

  &:hover{
    cursor: auto;
    box-shadow: $--box-shadow-dark;
    transform: translateY(-3px);
    letter-spacing: 1px;
  }
  &:focus{
    border-width: $--jb-button-border-focus;
  }
  &:active {
    transform: scale(0.99);
    border-color: #3a8ee6;
    outline: none;
  }
}

//Next button
.next-button {
  background-color: $--jb-dark-primary-color;
  color: $--color-white;
  font-size: $--button-font-size;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.13);
  border: none;
  transition: all 0.3s ease;
  outline: 0;
  &:hover {
    background: $--jb-light-primary-color;
  }
  &:active {
    background: $--jb-dark-primary-color;
  }
}
.show-password-button{
  position: relative;
  bottom: -13px;
  margin-bottom: 0;
}
.back-button {
  position: absolute;
  left: 26px;
  width: 66px;
  height: 42px;
  top: 29px;
  border: none;
  font-size: 17px;
}

