@import "common/var";
@import "../theme-chalk/src/button.scss";

@include b(button) {
  cursor: auto;
  text-align: center;
  height: $--button-jb-height;
  width: 100%;
  transition: $--all-transition;
  position: relative;

  &.sortable-ghost, &.sortable-chosen, &.sortable-ghost {
    transition: none;
  }
  &:hover{
    cursor: auto;
    box-shadow: $--box-shadow-dark;
    transform: translateY(-3px);
    background: white;
    color: $--jb-light-primary-color;
    border-color: $--jb-light-primary-color;
  }
  &:focus{
    border-width: $--jb-button-border-focus;
    background: white;
  }
  &:active, &.active {
    border-color: $--jb-dark-primary-color;
    outline: none;
    transform: translateY(0px);
    color: $--jb-dark-primary-color;
  }
}

//Next button
.next-button {
  background-color: $--jb-dark-primary-color;
  color: $--color-white;
  font-size: $--button-font-size;
  border: none;
  transition: all 0.2s cubic-bezier(.645,.045,.355,1);
  outline: 0;
  margin: 8px 0 32px 0;

  &:hover, &:focus {
    color: #fff;
    background: $--jb-light-primary-color;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.18)
  }
  &:active {
    background: $--jb-dark-primary-color;
  }
}
.show-password-button{
  position: relative;
  bottom: -13px;
  margin-bottom: 0;
}



