@import "common/var";
@import "../theme-chalk/src/form.scss";

@include b(form) {
  position: relative;
}

@include b(form-item) {
  position: relative;
  margin-bottom: $--form-item-margin-bottom;

  @include when(error) {
    & .el-form-item__label + .el-form-item__content,
    .el-form-item__label + & .el-form-item__content {
      @include e(error) {
        top: 100px;
      }
    }

    & .el-input__inner,
    & .el-textarea__inner {
      &,
 &:focus {
        border-color: $--color-danger;
      }
    }

    & .el-input-group__append,
    & .el-input-group__prepend {
      & .el-input__inner {
        border-color: transparent;
      }
    }

    .el-input__validateIcon {
      color: $--color-danger;
    }
  }

  @include when(success) {
    & .el-input__inner,
    & .el-textarea__inner {
      &,
 &:focus {
        border-color: $--color-success;
        border-width: 1px;
      }
    }

    & .el-input-group__append,
    & .el-input-group__prepend {
      & .el-input__inner {
        border-color: transparent;
      }
    }

    .el-input__validateIcon {
      color: $--color-success;
    }
  }

  @include e(error) {
    top: 60px;
    left: 5px;
    text-align: left;
  }
}

@include b(form) {
  .el-button + .el-button {
    margin-left: 0;
  }
}
