@import "common/var";
@import "../theme-chalk/src/input.scss";

@include b(input) {
  @include e(inner) {
    height: 60px;
    min-height: 60px !important;
    font-size: 18px;
    transition: $--border-transition-base, $--color-transition-base;

    &::placeholder {
      color: $--color-text-jb-placeholder;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:hover,
    &:focus {
      color: $--jb-dark-primary-color;
    }

    &:focus {
      box-shadow: none;
    }
  }

  @include e(suffix) {
    font-size: $--jb-icon-checkmark-size;
    right: $--jb-input-icon-position;
  }

  @include m(prefix) {
    .el-input__inner {
      letter-spacing: $--input-letter-spacing;
      padding: $--input-inner-jb-padding;
      font-size: $--font-size-medium;
      height: $--input-jb-height;

      &:focus {
        padding: 31px 14px 18px;
      }
    }
  }

  @include m(small) {
    font-size: $--input-medium-font-size;

    @include e(inner) {
      min-height: 50px !important;
    }
  }

  @include m(mini) {
    @include e(inner) {
      min-height: 36px !important;
    }

    .el-input__inner {
      padding: 12px;
      font-size: $--input-medium-font-size;
    }

    .el-input__icon {
      line-height: $--input-mini-height;
    }
  }
}
