@import "common/var";
@import "../theme-chalk/src/option.scss";

@include b(select-dropdown) {
  @include e(item) {
    color: $--jb-dark-primary-color;
    &.hover, &:hover {
      background: $--jb-hover-autocomplete;
      color: $--color-white;
    }
    &.selected {
      color: $--color-white;
      font-weight: 400;
    }
  }
}
