@import "../theme-chalk/src/select-dropdown.scss";

@include b(select-dropdown) {
  @include when(multiple) {
    & .el-select-dropdown__item.selected {
      background-color: #f3f5fb;
    }
  }
}

@media (max-width: $--sm) and (max-height: 600px) {
  @include b(select-dropdown__wrap) {
    max-height: $--select-dropdown-max-height / 5 * 2.6;
  }
}

@media (max-width: $--sm) and (max-height: 800px) {
  @include b(select-dropdown__wrap) {
    max-height: $--select-dropdown-max-height / 5 * 3.5;
  }
}
