$--border-color-base: #EEEEEE !default;
$--font-size-base: 16px !default;

@import "../../theme-chalk/src/common/var";

/* JB-Font
-------------------------- */
$--jb-font-path: '~@/theme/jumbleberry/fonts' !default;

/* ----------------------------
#JB-COLORS
------------------------------*/
$--jb-dark-primary-color: #5A79EE;
$--jb-light-primary-color: #4561FF;
$--jb-black-primary-color: #162765;
$--jb-bg-primary-color: #fff;
$--jb-bg-accent-color: #F3F5FD;

/*
#JB-PLACEHOLDER-COLOR
------------------------------*/
$--color-text-jb-placeholder: rgb(41, 41, 182) !default;

/* Font
-------------------------- */
$--font-size-medium: 16px !default;

/*
#JB-SPECIFIC-META-COPY
------------------------------*/
$--jb-meta-desc-copy: 13px !default;
$--jb-meta-text-align: left !default;
$--jb-meta-line-height: 20px !default;

/*
#JB-SPECIFIC-ICON
------------------------------*/
$--jb-icon-checkmark-size: 24px !default;

/*
#JB-SPECIFIC-MEDIA-ICON-OBJECT
------------------------------*/
$--jb-media-icon-flex: flex !default;
$--jb-media-icon-padding: 14px 0 !default;
$--jb-media-icon-align: flex-start !default;
$--jb-media-icon-margin: 0px !default;
$--jb-media-icon-right-text-align: left !default;
$--jb-media-icon-right-padding: 10px !default;
$--jb-media-icon-right-line-height: 16px !default;
$--jb-media-icon-description: 12px;

/*
#Form
--------------------------*/

/*
#Form-Item
--------------------------*/
$--form-item-margin-bottom: 10px;

/*
#JB-SPECIFIC-INPUT
------------------------------*/

/*
#BORDER
------------------------------*/
$--border-color-hover: $--color-text-jb-placeholder !default;

/*
#INPUT
------------------------------*/
$--input-letter-spacing: 0.5px !default;
$--input-font-size: $--font-size-medium !default;
$--input-icon-jb-font-size: 20px !default;
$--jb-input-icon-position: 15px !default;
$--input-inner-jb-padding: 27px 15px 15px !default;
$--input-jb-height: 60px !default;
$--input-placeholder-color: $--color-text-jb-placeholder !default;

/*
#JB-hover-autocomplete
-------------------------- */
$--jb-hover-autocomplete: $--jb-light-primary-color !default;

/*
#JB-SPECIFIC-BUTTON
------------------------------*/
$--button-jb-height: 60px !default;
$--jb-button-border-focus: 1px;
$--jb-button-border-active: 1px solid;


/*
#JB-NEXT-BUTTON
------------------------------*/
$--jb-next-box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.13);

/*
#JB-BOX-SHADOW
------------------------------*/
$--jb-box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04) !default;

/*
#JB-POPOVER-BORDER-COLOR
------------------------------*/
$--jb-popover-border-color: #f3f5ff !default;

/*
#JB-SPECIFIC-COLOR
------------------------------*/
$--card-main-jb-padding: 34px 50px 39px !default;

/*
#JB-HEADER-h2
--------------------------*/
$--jb-header-h2: 24px !default;

/*
#JB-MESSAGE-PAGE
------------------------------*/
$--jb-message-content-margin-title: 0px !default;
$--jb-message-content-margin-bottom: 8px !default;
$--jb-message-img-margin: 30px 0px !default;
$--jb-message-img-width: 177px !default;
$--jb-message-img-height: 177px !default;

/* JB-MESSAGE
-------------------------- */
$--jb-message-min-width: 320px !default;


/* Break-point
--------------------------*/
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

$--breakpoints: (
  'xs' : (max-width: $--sm),
  'sm' : (min-width: $--sm),
  'md' : (min-width: $--md),
  'lg' : (min-width: $--lg),
  'xl' : (min-width: $--xl)
);

$--breakpoints-spec: (
  'xs-only' : (max-width: $--sm - 1),
  'sm-and-up' : (min-width: $--sm),
  'sm-only': "(min-width: #{$--sm}) and (max-width: #{$--md} - 1)",
  'sm-and-down': (max-width: $--md - 1),
  'md-and-up' : (min-width: $--md),
  'md-only': "(min-width: #{$--md}) and (max-width: #{$--lg } - 1)",
  'md-and-down': (max-width: $--lg - 1),
  'lg-and-up' : (min-width: $--lg),
  'lg-only': "(min-width: #{$--lg}) and (max-width: #{$--xl } - 1)",
  'lg-and-down': (max-width: $--xl - 1),
  'xl-only' : (min-width: $--xl),
);